@page
@functions {
    public string DayName { get; set; }

    public void OnGet()
    {
        ViewData["Title"] = "Ofar Photography";
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}
<div class="jumbotron">
    <h1 class="display-3">Velcome to @ViewData["Title"] in Razor pages</h1>
    <p class="lead">We supply pictures</p>
    <hr />
    <p>It's @Model.DayName today!</p>
    <hr />
    <p>We have lots of Photographers</p>
    <a class="btn btn-primary" href="https://www.instagram.com/arividar">
        Go to Ofar on Instagram
    </a>
    <a class="btn btn-primary" href="https://www.500px.com/arividar">
        Go to Ofar on 500px
    </a>
    <a class="btn btn-primary" href="Photographers">
        Famous Photographers
    </a>
    <a class="btn btn-primary" href="PhotographyGenres">
        Photography Genres
    </a>
</div>
