<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/dc3695ca-f9ce-47bc-98ba-feb1c8889a97/resourceGroups/ofar/providers/Microsoft.Web/sites/OfarFunction</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://ofarfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>ofarfunction.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OfarFunction</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OfarFunction</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>